.paginationBttns {
  width: 80%;
  height: 40px;
  display: flex;
  list-style: none;
  justify-content: center;
}
.paginationBttns a {
  text-decoration: none;
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #dee2e6;
  cursor: pointer;
  color: 435ebe;
}
.paginationBttns a:hover {
  color: white !important;
  background-color: #0d6efd !important;
}
.paginationActive a {
  color: white !important;
  background-color: #0d6efd !important;
}
