.wrap-login100 {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
}
.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}
.login100-form {
  width: 560px;
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px;
}
.login100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333;
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
}
.p-b-43 {
  padding-bottom: 43px;
}
.pad-login {
  height: 40px;
  div {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
.flex-sb-m {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  a {
    font-family: Poppins-Regular;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.7;
    color: #666;
    margin: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
}
.w-full {
  width: 100%;
}
.p-b-32 {
  padding-bottom: 32px;
}
.p-t-3 {
  padding-top: 3px;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.input-checkbox100 {
  display: none;
}
input {
  outline: none;
  border: none;
}
.label-checkbox100 {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #999;
  line-height: 1.4;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}
.input-checkbox100:checked + .label-checkbox100::before {
  color: #6675df;
}
.label-checkbox100::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #6675df;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.txt1 {
  font-family: Montserrat-Regular;
  font-size: 18px;
  line-height: 1.4;
  color: #555;
}
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  button {
    outline: none !important;
    border: none;
    background: 0 0;
  }
  .login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    font-weight: 600;
    border-radius: 10px;
    background: #6675df;
    font-family: Montserrat-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}
.login100-more {
  width: calc(100% - 560px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  img {
    width: 100%;
    height: 100vh;
  }
}
.login100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
}
