.auth-input {
  width: 100%;
  border-radius: 50px;
}
.input-field {
  width: 100%;
  height: 40px;
  // label {
  //   color: red;
  // }
  p {
    color: red;
  }
}
.label-field {
  font-weight: 500;
  margin-left: 10px;
}
